.search-wrapper{
	margin: 5px;
}
.summary-wrapper{
	margin: 5px;
}
.recent-items-wrapper{
	display: flex;
	justify-content: space-between;
	margin: 5px;
}
.recent-block{
	width: 50%;
}
.recent-trans{
	width: 50%;
	margin-left: 5px;
}