.summaryGroup{
	display: flex;
	justify-content: space-evenly;
	border-radius: 5px;
	border: 1px solid #d9d9d9; 
}
.summaryCard{
	border-radius: 5px;
	/* width: 400px; */
	padding: 20px;
}
.summaryCardValue{
	color: #c53027!important;
}
.summaryCardTitle{
	color:#666!important;
	font-weight: bold!important;
	font-size: 13px;
}